/BlasaCar-back/.vs/BlasaCar-Back/v16/.suo
/BlasaCar-back/blasa.access.management.persistance/obj/Debug/netcoreapp3.1/blasa.access.management.persistance.csprojAssemblyReference.cache
/BlasaCar-back/blasa.access.management.web/bin/Debug/netcoreapp3.1/blasa.access.management.web.dll
/BlasaCar-back/blasa.access.management.web/bin/Debug/netcoreapp3.1/blasa.access.management.web.pdb
/BlasaCar-back/blasa.access.management.web/obj/Debug/netcoreapp3.1/blasa.access.management.web.csprojAssemblyReference.cache
/BlasaCar-back/blasa.access.management.web/obj/Debug/netcoreapp3.1/blasa.access.management.web.dll
/BlasaCar-back/blasa.access.management.web/obj/Debug/netcoreapp3.1/blasa.access.management.web.pdb
/BlasaCar-back/blasaCar.access.management.Core/obj/Debug/netcoreapp3.1/blasa.access.management.Core.csprojAssemblyReference.cache
